---
import { FreezerManager } from "../components/FreezerManager";

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Kuraokami</title>
	</head>
	<body>
		<h1>Kuraokami</h1>
		<h2>The dragon that knows your freezer</h2>
		<hr/>
		<FreezerManager client:load />
	</body>
</html>
