---
import "../styles/global.css"
---

<html lang="en">
<head>
    <meta charset="utf-8" />
    <link rel="icon" href="/okami.ico" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content={Astro.generator} />
    <title>Okami</title>
</head>
<body>
<section class="m-auto flex max-w-screen-2xl grow flex-col justify-center lg:flex-row">
    <div class="flex h-full flex-col items-center md:min-w-[589px]">
        <img src="/okami-removebg.png"
             height="250"
             width="250"
             class="pt-6 lg:mb-0 lg:h-auto lg:w-[250px] lg:pt-12"
             alt="A cute stylized orange and yellow dragon representing Okami" />
    </div>
    <div class="flex flex-1 flex-col items-center gap-12 py-12 text-center md:gap-8 lg:items-start lg:py-16 lg:pb-0 lg:text-start xl:pt-24 2xl:gap-12 px-3 sm:px-8 lg:px-16 xl:px-32">
        <div class="flex max-w-lg flex-col gap-6 text-center">
            <h1><a href="/">Okami</a></h1>
            <a href="/about" class="text-2xl font-normal leading-7 text-slate-500 underline decoration-amber-400">The dragon that
                guards your freezer!</a>
        </div>
    </div>
</section>
<hr />
<div class="m-auto md:max-w-4xl lg:max-w-max">
    <slot />
</div>
</body>
</html>